<ion-header>

  <ion-navbar>
    <ion-title>Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-slides pager="true">
    <ion-slide *ngFor="let photo of car.fotos">
      <img src="{{ photo }}" />
    </ion-slide>
  </ion-slides>

  <ion-item-group>
    <ion-item-divider color="light">
      <ion-icon name="car"></ion-icon>
      VEHICLE
    </ion-item-divider>
    <ion-item>{{ car.nome }}</ion-item>
    <ion-item>R$ {{ car.preco }}</ion-item>
  </ion-item-group>
  
  <ion-item-group>
    <ion-item-divider color="light">
      <ion-icon name="options"></ion-icon>
      ACESSORIES
    </ion-item-divider>
    <ion-item *ngFor="let a of accessories">
      <ion-label>
        <h2>{{a.name}}</h2>
        <h4>{{a.price}}</h4>
      </ion-label>
      <ion-toggle #toggle color="secondary" (ionChange)="refreshPrice(toggle.checked, a)"></ion-toggle>
    </ion-item>
  </ion-item-group>

  <ion-item-divider>
    <span item-right>TOTAL: R$ {{ total }}</span>
  </ion-item-divider>

  <ion-fab top right edge>
    <button ion-fab (click)="toRegister()">
      <ion-icon name="arrow-dropright"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
